server:
  port: 8222
spring:
  application:
    name: service-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: service-hosp  #设置路由id
          uri: lb://service-hosp   #设置路由的uri
          predicates:   #设置路由断言
            - Path=/*/hosp/** # 路径匹配
        - id: service-cmn
          uri: lb://service-cmn
          predicates:
            - Path=/*/cmn/**
        - id: service-user
          uri: lb://service-user
          predicates:
            - Path=/*/user/**
        - id: service-sms
          uri: lb://service-sms
          predicates:
            - Path=/*/sms/**
    nacos:
      discovery:
        server-addr: localhost:8848